<h2>********* Welcome to the longest word-game! *********</h2>
<p>Here is your grid:</p>
<ul>
<% @letters.each do |letter| %>
<li><%= letter %></li>
<% end %>
</ul>


<p>What is your longest word you can find?</p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" placeholder="Your word">
  <input type="submit" value="play">
</form>